@import "variables";
@import "mixins";

.custom_table_body {
  tr {
    td:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    td {
      vertical-align: middle;
    }
  }
}

.btn_checkout {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  button {
    @include custom_button($padding: 0.5rem 1rem);
  }
}

@media screen and (max-width: 768px) {
  .custom_table_body {
    tr {
      td:nth-child(1) {
        display: block;
      }
    }
  }
}
