@import "variables";

.custom_table_head {
}

.custom_table_body {
  tr {
    td:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    td {
      vertical-align: middle;
    }
  }
}

.btn_checkout {
  display: flex;
  justify-content: end;
  gap: 20px;
  button {
    border-radius: 35px;
    border: 1px solid $red;
    background-color: $red;
    color: $white;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    transition: 0.4s;
    &:hover {
      background-color: $dark-red;
    }
  }
}

@media screen and (max-width: 768px) {
  .custom_table_body {
    tr {
      td:nth-child(1) {
        display: block;
      }
    }
  }
}
