@import "variables";

.jumbotron_background_image {
  background-color: $red;
  border-radius: 0;
  width: 100%;
  height: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  place-content: center;
  font-family: "Playfair Display";
}
