@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap");

$carousel-control-color: #fff;
$carousel-control-width: 10%;
$carousel-control-icon-width: 4rem;
$carousel-indicator-width: 10px;
$carousel-indicator-height: 10px;
$carousel-indicator-spacer: 5px;
$carousel-control-prev-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$carousel-control-color}' class='bi bi-arrow-left-circle' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z'/%3E%3C/svg%3E");
$carousel-control-next-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#{$carousel-control-color}' class='bi bi-arrow-right-circle' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E");
$carousel-transition-duration: 0.4s;

$card-border-radius: 15px;

@import "~bootstrap/scss/bootstrap.scss";

.font-playfair-display {
  font-family: "Playfair Display", serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.button-custom-style {
  color: #fff;
  background-color: #ff1616;
  border-color: #ff1616;
  border-radius: 35px;
  padding-left: 1rem;
  padding-right: 1rem;
  &:hover {
    background-color: #c50e0e;
    border-color: #c50e0e;
    box-shadow: none;
    color: #fff;
  }
  &:focus {
    border-color: #c50e0e;
    background-color: #c50e0e;
    box-shadow: none;
  }
}

.nav-pills {
  .nav-link {
    border: 1px solid grey;
    border-radius: 35px;
    color: #212529;
    font-weight: 500;
  }

  .nav-link.active,
  .show > .nav-link {
    color: #fff;
    background-color: #ff1616;
    border: 1px solid #ff1616;
  }
}

.bi-star-fill {
  font-size: 16px;
  color: #ff5700;
}

.bi-cart {
  font-size: 30px;
}

.cart-badge {
  left: 15px;
  font-size: 9px;
}

.text-red {
  color: #ff1616 !important;
}

.bg-red {
  background-color: #ff1616;
}

.fs-7 {
  font-size: 12px;
}
