$red: #ff1616;
$dark-red: #cf0f0f;
$pink: #ff4646;
$white: #fff;
$dark-grey: #232f55;
$dark-blue: #454e6d;
$black: #1a1a1a;
$lavender: #ffdada;

// pallete color combination
$color1: #e1701a;
$color2: #f7a440;
$color3: #f6dcbf;
$color4: #aaaaaa;

$font-playfair: "Playfair Display", serif;
$font-roboto: "Roboto", serif;
