@import "variables";
@import "mixins";

.card_body_1 {
  p {
    font-family: $font-roboto;
    font-weight: 700;
    font-size: 20px;
  }
  form {
    div {
      text-transform: capitalize;
      font-family: $font-roboto;
      font-size: 16px;
      input:checked {
        background-color: $red;
        border-color: $red;
      }
      input:checked[type="radio"] {
        background-image: none;
      }
      input:focus {
        box-shadow: 0 0 0 0.25rem rgb(225 83 97 / 50%);
      }
    }
  }
}

.card_body_2 {
  p {
    font-family: $font-roboto;
    font-size: 20px;
    font-weight: 700;
  }
  div {
    display: flex;
    align-items: center;
    input[type="number"] {
      @include custom_form;
    }
  }
  button {
    @include custom_button($padding: 0.2rem 2rem);
  }
}

.btn_custom {
  @include custom_button($padding: 1rem 2rem);
}
