@import "variables";

.button_min {
  border: 1px solid $red;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: $red;
  i {
    color: $white;
    font-size: 20px;
  }
  &:hover {
    background-color: $dark-red;
  }
}

.input_form {
  width: 50px;
  border: 3px solid $red;
  text-align: center;
  &:hover {
    border-color: $dark-red;
  }
}

.button_plus {
  border: 1px solid $red;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: $red;
  i {
    color: $white;
    font-size: 20px;
  }
  &:hover {
    background-color: $dark-red;
  }
}
